.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;

    @media (max-width: 1199px) {
        width: 960px;
    }

    @media (max-width: 991px) {
        width: 720px;
    }

    @media (max-width: 767px) {
        width: 100%;
        padding: 20px;
    }

    @media (max-width: 479px) {
        padding: 10px;
    }
}

.title {}

.categoriesList {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}