* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom,
            #A4D3FD 0%,
            #BCE1FE 25%,
            #FDB1CD 50%,
            #FFCADE 75%,
            #CEB5DC 100%);
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}